@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@theme {
  --color-primary: #f91942;
  --color-secondary: #10b981;
  --color-accent: #d97706;
  --font-display: "Lora", "serif";
  --font-body: "Inter", "sans-serif";
  --font-sans: "Poppins", "sans-serif";
  --color-background-dark: #111827; /* Tailwind's slate-900 or slightly darker */
  --color-surface-dark: #1f2937; /* Tailwind's slate-800 or slightly lighter */
}

.nav-styles {
  @apply text-sm font-medium leading-normal transition-colors text-slate-300 hover:text-primary;
}

.active {
  @apply text-primary font-semibold;
}

.btn-primary {
  @apply rounded-full bg-primary/90 px-6 py-3 text-sm font-semibold text-white shadow-sm hover:bg-primary focus-visible:outline  focus-visible:outline-offset-2 focus-visible:outline-primary;
}

.btn-secondary {
  @apply w-full py-2.5 px-4 bg-slate-800 hover:bg-slate-700 text-slate-200 font-medium rounded-full border border-slate-700 transition-colors flex items-center justify-center gap-2;
}

.input-box {
  @apply w-full bg-background-dark border border-slate-800 rounded-lg p-4 pl-10 text-sm text-white outline-0 focus:ring-1 focus:ring-primary focus:border-primary transition;
}
