@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@theme {
  /* --color-*: initial; */
  --color-primary: #2563eb;
  --color-secondary: #1e293b;
  --color-accent: #f59e0b;
  --font-display: "Lora", "serif";
  --font-body: "Inter", "sans-serif";
  --font-sans: "Poppins", "sans-serif";
  --color-background-light: #f9fafb;
  --color-background-dark: #0f172a;
  --color-surface-dark: #1e293b;
}

.nav-styles {
  @apply text-sm font-medium leading-normal transition-colors text-slate-300 hover:text-primary;
}

.active {
  @apply text-primary;
}
